
<h1 class="text-center">Update Company Detail</h1>

<div class="container">
    <div class="bootstrap-wrapper">
       <div class="row">
           <div class="col-md-6 offset-3">

               <form [formGroup]="updateCompanyForm" (ngSubmit)="updateCompany()">
                   <div class="form-group">
                     <label for="companyName">Company Name</label>
                     <input type="text" 
                           class="form-control" 
                           id="companyName" 
                           name="companyName"
                           formControlName="companyName"
                           aria-describedby="emailHelp">
                           <span *ngIf="updateCompanyForm.controls['companyName'].touched && !updateCompanyForm.controls['companyName'].valid">
                        
                               <span *ngIf="updateCompanyForm.controls['companyName'].hasError('required')">
                                      Company name is required !
                               </span>

                               <span *ngIf="updateCompanyForm.controls['companyName'].hasError('minlength')">
                                     Company name should be minimum 2 character !
                               </span>

                               <span *ngIf="updateCompanyForm.controls['companyName'].hasError('maxlength')">
                                      Company name should be maxmimum 10 character !
                               </span>


                           </span>
                   </div>


                   <div class="form-group">
                    <label for="companyDescription">Company Description</label>
                    <input type="text" 
                          class="form-control" 
                          id="companyDescription" 
                          name="companyDescription"
                          formControlName="companyDescription"
                          aria-describedby="emailHelp">
                          <span *ngIf="updateCompanyForm.controls['companyDescription'].touched && !updateCompanyForm.controls['companyDescription'].valid">
                       
                              <span *ngIf="updateCompanyForm.controls['companyDescription'].hasError('required')">
                                     Company Description is required !
                              </span>

                              <span *ngIf="updateCompanyForm.controls['companyDescription'].hasError('minlength')">
                                     Company Description should be minimum 4 character !
                              </span>

                              <span *ngIf="updateCompanyForm.controls['companyDescription'].hasError('maxlength')">
                                     Company Description should be maxmimum 15 character !
                              </span>


                          </span>
                  </div>


                   <div class="form-group">
                       <label for="companyEmail">Company Email</label>
                       <input type="email" 
                             class="form-control" 
                             id="companyEmail" 
                             name="companyEmail"
                             formControlName="companyEmail"
                             aria-describedby="emailHelp">
                             <span *ngIf="updateCompanyForm.controls['companyEmail'].touched && !updateCompanyForm.controls['companyEmail'].valid">
                        
                               <span *ngIf="updateCompanyForm.controls['companyEmail'].hasError('required')">
                                      Company email is required !
                               </span>

                               <span *ngIf="updateCompanyForm.controls['companyEmail'].hasError('email')">
                                      Please enter correct email !
                               </span>

                               

                           </span>
                  
                     </div>

                     

                     <div class="form-group">
                            <label for="companyAddress">Company Address</label>
                            <input type="text" 
                                  class="form-control" 
                                  id="companyAddress" 
                                  name="companyAddress"
                                  formControlName="companyAddress"
                                  aria-describedby="emailHelp">
                                  <span *ngIf="updateCompanyForm.controls['companyAddress'].touched && !updateCompanyForm.controls['companyAddress'].valid">
                             
                                    <span *ngIf="updateCompanyForm.controls['companyAddress'].hasError('required')">
                                           Company Address is required !
                                    </span>
        
                                    <span *ngIf="updateCompanyForm.controls['companyAddress'].hasError('minlength')">
                                           Company Address should be minimum 4 character!
                                    </span>
        
                                    <span *ngIf="updateCompanyForm.controls['companyAddress'].hasError('maxlength')">
                                           Company Address should be maximum 15 character !
                                    </span>
        
        
                                </span>
                       
                          </div>
        
                     
                     
                     
                   <div class="form-group form-check">
                     <input type="checkbox" class="form-check-input" id="exampleCheck1">
                     <label class="form-check-label" for="exampleCheck1">Check me out</label>
                   </div>
                   
                     
                   <button type="submit" class="btn btn-success">Update</button>
                   <button type="reset" class="btn btn-primary">Reset</button>
                 </form>
           
           </div>
       </div>

   </div>
   
   </div>