
<div class="container">
    <table class="table" border="3">
      
        <tbody>
          <tr>
            <th scope="row">Student Id</th>
            <td>{{student.studentId}}</td>
          </tr>
          <tr>
            <th scope="row">Student Name</th>
            <td>{{student.studentName}}</td>
          </tr>
          <tr>
            <th scope="row">Student Class</th>
            <td>{{student.studentClass}}</td>
          </tr>
           <tr>
            <th scope="row">Student Email</th>
            <td>{{student.studentEmail}}</td>
          </tr>
          <tr>
            <th scope="row">Student CGPA</th>
            <td>{{student.studentCGPA}}</td>
          </tr>
          <tr>
            <th scope="row">Student Password</th>
            <td>{{student.studentPassword}}</td>
          </tr>
        </tbody>
      </table>
</div>
   