<h1 class="text-center">Manager List</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of managerList">
            <!-- <th scope="row">1</th> -->
            <td> {{data.managerId}}</td>
            <td>{{data.managerName}}</td>
            <td>{{data.placementManagerUserName}}</td>
            <td>{{data.managerEmail}}</td>
            <td>{{data.managerContactNumber}}</td>
            <td>{{data.placementManagerPassword}}</td>
            
            
            <td><a routerLink="/admin-dashboard/update-manager/{{data.managerId}}"><i  style="color: green;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>|<i  style="color: red;" (click)="deleteManager(data.managerId)"  class="fa fa-trash" aria-hidden="true"></i>
            </td>
          
          </tr>
           </tbody>   
      </table>
</div>



