<h1 class="text-center">Student List</h1>
<div class="container">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Age</th>
            <th scope="col">Password</th>
            <th scope="col">Class</th>
            <th scope="col">CGPA</th>
            <th scope="col">Action</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of studentList">
            <!-- <th scope="row">1</th> -->
            <td> {{data.studentId}}</td>
            <td>{{data.studentName}}</td>
            <td>{{data.studentEmail}}</td>
            <td>{{data.studentAge}}</td>
            <td>{{data.studentPassword}}</td>
            <td>{{data.studentClass}}</td>
            <td>{{data.studentCGPA}}</td>
            <td><a routerLink="/admin-dashboard/update-student/{{data.studentId}}"><i  style="color: green;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>|<i  style="color: red;" (click)="deleteStudent(data.studentId)"  class="fa fa-trash" aria-hidden="true"></i>
            </td>
          
          </tr>
           </tbody>   
      </table>
</div>


